<!--<footer class="bg-gray-800 w-full fixed bottom-0 text-white text-center py-3 mt-auto shadow-md">-->
<!--    <p class="text-base">-->
<!--        Made by <span class="font-bold">Aditya</span> |-->
<!--        <a href="https://github.com/Aditya13s" target="_blank" class="text-blue-400 hover:text-blue-300 underline">-->
<!--            GitHub-->
<!--        </a>-->
<!--    </p>-->
<!--</footer>-->
